<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/restock" method="POST">
        <label for="categoryName">categoryName</label>
        <input type="text" name="categoryName">
        <br>

        <label for="supplierName">supplierName</label>
        <input type="text" name="supplierName">
        <br>

        <label for="name">name</label>
        <input type="text" name="name">
        <br>

        <label for="brand">brand</label>
        <input type="text" name="brand">
        <br>

        <label for="price">price</label>
        <input type="text" name="price">
        <br>

        <label for="size">size</label>
        <input type="text" name="size">
        <br>

        <label for="stock">stock</label>
        <input type="text" name="stock">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>